/src/com/voit/CalculatorApp/Model/ClassifModel/
/UCI-small/ozone/
/UCI-small/mushroom/
/UCI-small/iris/
/UCI-small/spectrometer/
/UCI-small/soybean/
/UCI-small/ionosphere/
/UCI-small/event-detection/
/UCI-small/mammographic-masses/
/UCI-small/character-trajectories/
/UCI-small/tic-tac-toe/
/UCI-small/audiology/
/UCI-small/solar-flare/
/UCI-small/badges/
/UCI-small/yeast/
/UCI-small/shuttle-landing-control/
/UCI-small/tae/
/UCI-small/horse-colic/
/UCI-small/auto-mpg/
/UCI-small/balance-scale/
/UCI-small/function-finding/
/UCI-small/kinship/
/UCI-small/page-blocks/
/UCI-small/forest-fires/
/UCI-small/prodigy/
/UCI-small/nursery/
/UCI-small/lymphography/
/UCI-small/abscisic-acid/
/UCI-small/anonymous/
/UCI-small/blood-transfusion/
/UCI-small/breast-cancer-wisconsin/
/UCI-small/space-shuttle/
/UCI-small/hill-valley/
/UCI-small/spambase/
/UCI-small/waveform/
/UCI-small/flags/
/UCI-small/mechanical-analysis/
/UCI-small/autos/
/UCI-small/housing/
/UCI-small/spect/
/UCI-small/heart-disease/
/UCI-small/car/
/UCI-small/artificial-characters/
/UCI-small/quadrapeds/
/UCI-small/census-income/
/UCI-small/water-treatment/
/UCI-small/balloons/
/UCI-small/ecoli/
/UCI-small/document-understanding/
/UCI-small/qsar/
/UCI-small/madelon/
/UCI-small/image/
/UCI-small/cmc/
/UCI-small/haberman/
/UCI-small/moral-reasoner/
/UCI-small/othello/
/UCI-small/diabetes/
/UCI-small/dermatology/
/UCI-small/logic-theorist/
/UCI-small/echocardiogram/
/UCI-small/meta-data/
/UCI-small/breast-cancer/
/UCI-small/glass/
/UCI-small/ebl/
/UCI-small/hepatitis/
/UCI-small/utilities/
/UCI-small/optdigits/
/UCI-small/zoo/
/UCI-small/dexter/
/UCI-small/icu/
/UCI-small/sponge/
/UCI-small/liver-disorders/
/UCI-small/hayes-roth/
/UCI-small/primary-tumor/
/UCI-small/university/
/UCI-small/letter-recognition/
/UCI-small/adult/
/UCI-small/secom/
/UCI-small/lenses/
/UCI-small/postoperative-patient-data/
/UCI-small/chess/
/UCI-small/credit-screening/
/UCI-small/pima-indians-diabetes/
/UCI-small/arrhythmia/
/UCI-small/magic/
/UCI-small/mobile-robots/
/UCI-small/statlog/
/UCI-small/pendigits/
/UCI-small/servo/
/UCI-small/concrete/
/UCI-small/undocumented/
/UCI-small/wine/
/UCI-small/parkinsons/
/UCI-small/bridges/
/UCI-small/molecular-biology/
/UCI-small/annealing/
/UCI-small/monks-problems/
/UCI-small/lung-cancer/
/UCI-small/musk/
/UCI-small/voting-records/
/UCI-small/connect-4/
/UCI-small/uji-penchars/
/UCI-small/labor-negotiations/
/UCI-small/led-display-creator/
/UCI-small/chorales/
/UCI-small/student-loan/
/UCI-small/trains/
/UCI-small/dgp-2/
/UCI-small/cpu-performance/
/UCI-small/thyroid-disease/
/UCI-small/cylinder-bands/
